.signups-index, .signup-show, .signup-form {
    border: 1px solid black;
    margin: 20px 0;
    padding: 20px;
    border-radius: 5px;
  }
  
  .signup-form label {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .signup-form label:last-child {
    margin-bottom: 0;
  }
  
  .signup-form label > *:last-child {
    margin-left: 10px;
  }
  
  .signup-form input, .signup-form select {
    display: block;
    height: 1.5rem;
    border: 1px solid #666;
    border-radius: 2px;
    margin: 5px 0;
    font-size: 1rem;
    padding: 2px 5px;
  }
  
  button {
    padding: 5px 20px;
    margin: 10px 0;
  }
  
  nav a {
    margin: 0 20px;
    padding: 10px;
    color: black;
    background-color: white;
    border-radius: 10px;
    border: 3px solid gray;
    text-decoration: none;
  }
  
  nav a.active {
    color: white;
    background-color: black;
  }
  
  .errors {
    color: red;
  }